In [23]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
s1=0
s2=1
for i in l:
  if i%2==0:
    s1=s1+i
  else:
    s2=s2*i
print("sum of even numbers:",s1)
print("product of odd numbers:",s2)
mean=sum(l)/len(l)
print("mean:",mean)
median=(l[9]+l[10])/2
print("median:",median)
s=0
for i in l:
  s=s+(i**2)
t=s/20
d1=t-(mean**2)
d=d1**0.5
print("standard deviation:",d)

sum of even numbers: 110
product of odd numbers: 654729075
mean: 10.5
median: 10.5
standard deviation: 5.766281297335398

2.Mutable datatypes: the elements in these datatypes can be altered or can be editted.examples are lists,dictionaries.
Immutable datatypes: the elements can't be altered or editted once they are defined.examples are tuples and strings.

In [11]:
n=int(input("enter:"))
n1=0
n2=1
count=0
if n==1:
  print("1")
else:
  print("finonacci numbers:")
  while count < n:
    print(n1)
    nt=n1+n2
    n1=n2
    n2=nt
    count+=1

enter5
finonacci numbers:
0
1
1
2
3

In [24]:
l=[3,5,7,9,11,13]
l+=[6]
l.sort()
l.remove(7)
l.reverse()

s=0
m=sum(l)/6
m1=(l[2]+l[3])/2
print(l)
print("mean:",m)
print("median:",m1)

[13, 11, 9, 6, 5, 3]
mean: 7.833333333333333
median: 7.5